.layout {
  background: url('../../common/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  background: url('../../common/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
  font-family: 'Roboto Condensed', sans-serif;
}
